<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/normalize.css" th:href="@{css/normalize.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    <title>Pomaranch</title>
</head>
<body>
<div th:insert="index :: header"></div>

<div class="empty"></div>

<div class="social_side">
    <a class="social_side_link" href="https://www.facebook.com/pomaranch.ua" target="_blanck">
        <img src="icons/facebook-logo.png" alt="">
    </a>
    <a class="social_side_link" href="https://www.instagram.com/pomaranch_shop/" target="_blanck">
        <img src="icons/instagram-logo.png" alt="">
    </a>
</div>

<section class="contacts">
    <div class="container wrapper">
        <div class="left">
            <h2 class="title">Мы на связи</h2>
            <div class="address">
                <ul>
                    <li class="list_subtitle">Наш магазин</li>
                    <li class="list_item">Оченькрасивая улица</li>
                    <li class="list_item">г. Киев</li>
                    <li class="list_item">+38(050) 123-46-78</li>
                    <li class="list_item">pomaranch@gmail.com</li>
                </ul>
                <ul>
                    <li class="list_subtitle">Часы работы</li>
                    <li class="list_item">Пн-Пт: 10:00 - 21:00</li>
                    <li class="list_item">Сб: 10:00 - 16:00</li>
                    <li class="list_item">Вс: Выходной</li>
                </ul>

            </div>
            <form action="#">
                <h3 class="form_subtitle">
                    Pomaranch shop
                </h3>
                <div class="name_email_block">
                    <input type="text" placeholder="Имя" class="input_name">
                    <input type="email" placeholder="email" class="input_email">
                </div>
                <br>
                <input type="text" placeholder="тел." class="input_phone">
                <label>
                    Сообщение
                    <textarea></textarea>
                </label>
            </form>
        </div>
        <div class="right">
            <img src="img/contacts.jpg" th:src="@{img/contacts.jpg}" alt="">
        </div>
    </div>
</section>

<footer>
    <div class="container wrapper">
        <div class="blok">
            <div class="block_title">
                Нужна помощь?
            </div>
            <ul class="info">

                <li class="info_item">
                    <a href="#" class="info_link">
                        Связаться с нами
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        FAQs
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        Уход за изделиями
                    </a>
                </li>
            </ul>
        </div>
        <div class="block">
            <div class="block_title">
                Часы работы
            </div>
            <div class="time">
                10:00 - 21:00
            </div>
        </div>
    </div>
</footer>
<script src="js/script.js"></script>

</body>
</html>