.about
    .wrapper
        padding: 0
    .container
        display: flex
        .left
            .title
                margin-top: 10%
            .inner
                width: 60%
            p
                margin-top: 5%
                line-height: 2
                text-align: justify