.size
    .container
        display: flex
    .wrapper
        padding-top: 0
    .inner
        padding-top: 5%
        width: 95%
    table
        width: 100%
        .title
            margin-bottom: 15px
        .subtitle
            font-size: 1.5em
            font-weight: 600