* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

a:hover {
  color: grey;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html {
  background-color: #ffdfc7;
}

html, body {
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  padding-top: 100px;
  background-color: #fff;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.inner {
  width: 50%;
  margin: 0 auto;
}

.title {
  font-size: 3em;
  font-weight: 800;
}

header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffdfc7;
  width: 100%;
  height: 70px;
  z-index: 90;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu_item {
  margin-right: 35px;
}

header .menu_item:last-child {
  margin-right: 0;
}

header .menu_link {
  font-size: 1.3em;
  font-weight: 600;
}

header .menu_link:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu_link:last-child .cart {
  margin-right: 5px;
  padding-bottom: 5px;
}

header .menu_link:last-child img {
  width: 20px;
}

header .menu_link:last-child .amount {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.empty {
  height: 70px;
}

.hamburger {
  display: none;
  position: fixed;
  width: 32px;
  height: 24px;
  top: 15px;
  right: 25px;
  z-index: 91;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.hamburger span:nth-child(2) {
  margin: 7px 0;
}

.hamburger_active span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger_active span:nth-child(2) {
  display: none;
}

.hamburger_active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(5px, 3px);
          transform: rotate(45deg) translate(5px, 3px);
}

.social_side {
  width: 5%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  right: 0;
}

.social_side a:nth-child(1) {
  margin-bottom: 35px;
}

.logo {
  max-width: 150px;
}

button {
  width: 100%;
  height: 80px;
  background-color: black;
  border: solid black 4px;
  color: white;
  font-size: 1.7em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: black;
}

.banner {
  color: white;
  text-align: center;
}

.banner_block {
  overflow: hidden;
  background: url("../img/banner.jpg") center/100% auto no-repeat;
}

.banner_since {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 2%;
}

.banner_slogon {
  margin-top: 5%;
  font-size: 5em;
  font-weight: 200;
  text-transform: uppercase;
}

.banner_subslogon {
  font-weight: 200;
  font-size: 2em;
}

.banner_scroll {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 10%;
  padding-bottom: 2%;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new_brand {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new_brand .left {
  overflow: hidden;
}

.new_brand .inner {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instagram {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instagram_picture {
  width: 30%;
}

.instagram .rect {
  position: relative;
}

.instagram .rectangle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid black 4px;
  border-radius: 2px;
  width: 60%;
  height: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
  background-color: rgba(255, 255, 255, 0.8);
}

.instagram .rectangle_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 90%;
  border: solid white 4px;
}

.instagram .rectangle_in img {
  width: 85%;
}

.instagram .rectangle_title {
  font-size: 1.8em;
  font-weight: 800;
  text-align: center;
  margin-top: 30%;
}

.instagram_mobile {
  display: none;
}

.new_campain {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.new_campain_block {
  width: 40%;
}

.new_campain_rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid black 4px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.new_campain_title {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 800;
}

.new_campain_name {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
}

footer .container {
  padding: 100px 10% 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .container .block_title {
  font-size: 2em;
  font-weight: 600;
}

footer .container .info {
  margin-top: 20px;
}

footer .container .info_item {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 20px;
}

footer .container .time {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.title {
  text-align: center;
}

.size .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.size .wrapper {
  padding-top: 0;
}

.size .inner {
  padding-top: 5%;
  width: 95%;
}

.size table {
  width: 100%;
}

.size table .title {
  margin-bottom: 15px;
}

.size table .subtitle {
  font-size: 1.5em;
  font-weight: 600;
}

.about .wrapper {
  padding: 0;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .left {
  margin-top: 5%;
  line-height: 2;
  line-height-text-align: center;
}

.about .container .left .inner {
  width: 60%;
  padding: 0;
}

@media (max-width: 1366px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  html, body {
    font-size: 11px;
  }
  button {
    height: 60px;
    font-size: 2em;
  }
  header .menu_link {
    font-size: 1.5em;
  }
  header .menu_link:last-child img {
    width: 16px;
  }
  header .menu_link:last-child .amount {
    font-size: 16px;
  }
  .banner_since {
    font-size: 1.5em;
  }
  .wrapper {
    padding-top: 80px;
  }
  .new_brand {
    margin-top: 80px;
  }
  .instagram {
    margin-top: 80px;
  }
}

@media (max-width: 962px) {
  html, body {
    font-size: 10px;
  }
}

@media (max-width: 854px) {
  .title {
    font-size: 2.7em;
  }
  .new_campain_title {
    font-size: 2.2em;
  }
  .new_campain_name {
    font-size: 1.8em;
  }
}

@media (max-width: 770px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    padding: 0;
    margin: 0;
  }
  .left, .right {
    width: 100%;
  }
  .social_side {
    display: none;
  }
  .title {
    font-size: 5em;
  }
  button {
    height: 80px;
  }
  header {
    height: 50px;
  }
  header .menu {
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 50px;
    right: -50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .menu_active {
    right: 0;
  }
  header .menu_item {
    margin-right: 0;
    margin-top: 15%;
    width: 100%;
  }
  header .menu_link {
    margin-left: 10%;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 400;
  }
  header .menu .cart {
    display: none;
  }
  header .menu .amount {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .empty {
    height: 50px;
  }
  .logo {
    margin-left: 25px;
    max-width: 115px;
  }
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
  }
  .promo_pic {
    margin-top: 30px;
  }
  .promo .right img {
    width: 95%;
    margin: 80px auto 0;
  }
  .promo button {
    margin-top: 20px;
  }
  .new_brand {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new_brand .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .new_brand .right img {
    margin-top: 30px;
  }
  .new_brand .right button {
    margin-top: 40px;
  }
  .new_brand .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .new_brand .left img {
    width: 90%;
    margin: 80px auto 0;
  }
  .instagram {
    display: none;
  }
  .instagram_mobile {
    display: block;
    width: 60%;
    height: 70vh;
    margin: 40px auto 0;
  }
  .instagram_mobile .rectangle {
    width: 100%;
    height: 100%;
    border: solid black 4px;
    padding: 5%;
  }
  .instagram_mobile .rectangle_title {
    font-size: 5em;
    font-weight: 800;
    text-align: center;
  }
  .instagram_mobile .rectangle_in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: solid grey 4px;
    padding: 5%;
  }
}

@media (max-width: 585px) {
  html, body {
    font-size: 12px;
  }
  .banner_block {
    background: url("../img/banner.jpg") top/cover;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    padding: 0;
    margin: 0;
  }
  .left, .right {
    width: 100%;
  }
  .inner {
    width: 70%;
  }
  button {
    height: 80px;
  }
  header {
    height: 50px;
  }
  header .menu {
    width: 70%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 50px;
    right: -70%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .menu_active {
    right: 0;
  }
  header .menu_item {
    margin-right: 0;
    margin-top: 15%;
    width: 100%;
  }
  header .menu_link {
    margin-left: 10%;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 400;
  }
  header .menu .cart {
    display: none;
  }
  header .menu .amount {
    display: none;
  }
  .empty {
    height: 50px;
  }
  .logo {
    margin-left: 25px;
    max-width: 115px;
  }
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
  }
  .promo .title {
    font-size: 5em;
  }
  .promo_pic {
    margin-top: 30px;
  }
  .promo .right img {
    width: 100%;
    margin: 80px auto 0;
  }
  .promo button {
    margin-top: 20px;
  }
  .new_brand {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new_brand .inner {
    width: 70%;
  }
  .new_brand .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .new_brand .right img {
    margin-top: 30px;
  }
  .new_brand .right button {
    margin-top: 40px;
  }
  .new_brand .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .new_brand .left img {
    width: 100%;
    margin: 80px auto 0;
  }
  .instagram_mobile {
    display: block;
    width: 60%;
    height: 50vh;
    margin: 40px auto 0;
  }
  .instagram_mobile .rectangle {
    width: 100%;
    height: 100%;
    border: solid black 4px;
    padding: 5%;
  }
  .instagram_mobile .rectangle_title {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
  }
  .instagram_mobile .rectangle_in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: solid grey 4px;
    padding: 5%;
  }
  .new_campain {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .new_campain_block {
    width: 100%;
  }
  .new_campain_rect {
    display: block;
    width: 60%;
    height: 40vh;
    margin: 40px auto;
  }
  .new_campain_title {
    margin-top: 40%;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 800;
  }
  .new_campain_name {
    margin-top: 20%;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
  }
}

@media (max-width: 500px) {
  html, body {
    font-size: 8px;
  }
  button {
    height: 60px;
  }
  .promo {
    padding-top: 40px;
  }
  .promo .right img {
    margin: 40px auto 0;
  }
  .new_brand .right img {
    margin-top: 20px;
  }
  .new_brand .right button {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */