* {
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

#index {
  width: 100%;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  color: gray;
}

button {
  padding: 8px 15px;
  margin-top: 30px;
  background-color: black;
  color: lightgray;
  cursor: pointer;
  border-style: none;
}

.head {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head .logo {
  max-width: 200px;
  height: auto;
}
.head .navigation {
  display: block;
  height: 100%;
}
.head .navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.head .navigation_item {
  margin-right: 25px;
}
.head .navigation_item:last-child {
  margin-right: 0;
}
.head .navigation .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.head .navigation .cart img {
  margin-right: 5px;
}

#logo {
  max-width: 200px;
  height: auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  border-bottom: solid black 1px;
}

.banner .container {
  position: relative;
  border-bottom: none;
}
.banner .container .texts {
  position: absolute;
  width: 100%;
}
.banner .container .texts h2 {
  margin-top: 10%;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4em;
  color: whitesmoke;
}
.banner .container .texts h4 {
  margin-top: 15px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
  color: whitesmoke;
}

.promo .sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  padding-bottom: 50px;
}
.promo .left {
  width: 40%;
}
.promo .left img {
  width: 100%;
}
.promo .right {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}
.promo .right p {
  line-height: 1.5;
  text-align: justify;
}

.brand .sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  padding-bottom: 50px;
}
.brand .left {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}
.brand .left p {
  text-align: justify;
  line-height: 1.5;
}
.brand .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 40%;
}
.brand .right img {
  width: 100%;
}

.instagram .container {
  padding-bottom: 30px;
  border-bottom: none;
}
.instagram h4 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}
.instagram h6 {
  margin: 0 auto;
}
.instagram h6 a {
  display: block;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 10px auto 0;
}
.instagram #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.instagram #slider .slider_item {
  width: 100%;
}
.instagram p {
  text-align: center;
  margin-top: 30px;
}

footer {
  background-color: #f5f5f5;
}
footer .container {
  width: 50%;
}
footer .sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}
footer .left {
  width: 50%;
}
footer .right {
  width: 50%;
}
footer .footer_list_item {
  margin-bottom: 15px;
}
footer .footer_list_item:first-child {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */