<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Pomaranch</title>
</head>
<body>
<div th:insert="index :: header"></div>
<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="empty"></div>
<div class="social_side">
    <a class="social_side_link" href="https://www.facebook.com/pomaranch.ua" target="_blanck">
        <img src="../static/icons/facebook-logo.png" th:src="@{/icons/facebook-logo.png}" alt="">
    </a>
    <a class="social_side_link" href="https://www.instagram.com/pomaranch_shop/" target="_blanck">
        <img src="../static/icons/instagram-logo.png" th:src="@{/icons/instagram-logo.png}" alt="">
    </a>
</div>

    <section class="orderList">
        <div class="wrapper container">
            <div class="cart_title">Моя корзинка</div>
            <div class="order">
                <div class="order_item" th:each="item : ${orderList}">
                    <div class="icon"><img src="../static/img/newbrand_small.jpg" th:src="@{${item.product.picturePath}}" alt="picture"></div>
                    <div class="content">
                        <div class="name" th:text="${item.product.name}">Рубашка</div>
                        <div class="price" th:text="${item.product.price}">$15.00</div>
                        <div class="quantity" th:text="${item.quantity}">2 шт</div>
                    </div>
                    <div class="delete">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <form action="#" th:action="@{/order/checkout}" th:method="post">
                <input type="submit" class="button" value="Оформить заказ">
            </form>
        </div>
    </section>

<div th:insert="index :: footer"></div>
</body>
</html>