<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Pomaranch</title>
</head>
<body>
<div th:insert="index :: header"></div>
<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="empty"></div>

<div class="social_side">
    <a class="social_side_link" href="https://www.facebook.com/pomaranch.ua" target="_blanck">
        <img src="../static/icons/facebook-logo.png" th:src="@{/icons/facebook-logo.png}" alt="">
    </a>
    <a class="social_side_link" href="https://www.instagram.com/pomaranch_shop/" target="_blanck">
        <img src="../static/icons/instagram-logo.png" th:src="@{/icons/instagram-logo.png}" alt="">
    </a>
</div>

<section class="item">
    <div class="container wrapper" th:object="${product}">
        <div class="inner">
            <div class="left">
                <img th:src="@{${product.picturePath}}"
                     src="https://lh3.googleusercontent.com/pw/ACtC-3d263c54nVfcoyF7k5zoaNKEtXS-cjlxNoaMBBPuuK7KUZ11GGSUAjRkMb1Xie5WCxe9THF9WyDKgtwZRh1ORRXXDSgVLpcv4TZvqElwYYLY0pAvgi_lkATy6MkpM4ogcMhxCQKG-1fVxG3jJkXVinK4A=w687-h935-no?authuser=1"
                     alt="">
                <div class="description" th:text="*{description}">
                    I'm a product description. I'm a great place to add more details about your product such as sizing,
                    material, care instructions and cleaning instructions.
                </div>
            </div>

            <div class="right">
                <div class="name" th:text="${product.name}">Рубашка</div>
                <div class="uuid" th:text="'00' + ${product.id}">Артикул - 0001</div>
                <div class="price" th:text="${product.price}">$15.00</div>
                <form id="itemForm" class="addForm" action="#" th:action="@{/order/add}" th:method="post"
                th:object="${item}">
                    <label class="quantity">
                        Количество
                        <input class="quantity_value" min="1" value="1" type="number"
                               th:field="*{quantity}">
                    </label>
                    <input type="hidden" th:value="${product.id}" th:attr="name='productId'">
                    <input class="button" type="submit" value="Добавить в корзину">
                </form>

                <button>Купить сразу</button>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container wrapper">
        <div class="blok">
            <div class="block_title">
                Нужна помощь?
            </div>
            <ul class="info">

                <li class="info_item">
                    <a href="#" class="info_link">
                        Связаться с нами
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        FAQs
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        Уход за изделиями
                    </a>
                </li>
            </ul>
        </div>
        <div class="block">
            <div class="block_title">
                Часы работы
            </div>
            <div class="time">
                10:00 - 21:00
            </div>
        </div>
    </div>
</footer>

</body>
</html>