<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="../static/js/jquery-3.5.1.js" th:src=""></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Pomaranch</title>
</head>
<body>
<div th:insert="index :: header"></div>

<div class="empty"></div>

<div class="social_side">
    <a class="social_side_link" href="https://www.facebook.com/pomaranch.ua" target="_blanck">
        <img src="../static/icons/facebook-logo.png" th:src="@{/icons/facebook-logo.png}" alt="">
    </a>
    <a class="social_side_link" href="https://www.instagram.com/pomaranch_shop/" target="_blanck">
        <img src="../static/icons/instagram-logo.png" th:src="@{icons/instagram-logo.png}" alt="">
    </a>
</div>

<div class="title container wrapper">
    Shop the collection
</div>

<section class="products_section">
    <div class="container wrapper">
        <div class="filters">
            <div class="filters_title">
                Фильтры
            </div>
            <hr>
            <div class="category" id="gender" onclick="openList('gender')">
                <div class="category_header">
                    <div class="filters_subtitle">Пол</div>
                    <div class="filters_plus">+</div>
                </div>
                <div class="filters_body" style="display: none">
                    <ul>
                        <li>Женщинам</li>
                        <li>Мужчинам</li>
                        <li>Детям</li>
                    </ul>
                </div>
            </div>
            <hr>

        </div>
        <div class="products">
            <div class="sort">
                <div class="custom_select">
                    <select name="sort_list">
                        <option>Сортировать:</option>
                        <option>Самые новые</option>
                        <option>Дешевле - Дороже</option>
                        <option>Дороже - Дешевле</option>
                    </select>
                </div>
            </div>
            <div class="products_list">

                <div class="products_list_item" th:each="product : ${products}">
                    <a href="#" th:href="@{/shop/details/{id}(id=${product.id})}">
                        <div class="image">
                            <img src="../static/img/promo_small_img.jpg" th:src="@{${product.picturePath}}" alt="image">
                        </div>
                        <div class="name" th:text="${product.name}">Cool dress</div>
                        <div class="price" th:text="${'$' + product.price}">$10.0</div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container wrapper">
        <div class="blok">
            <div class="block_title">
                Нужна помощь?
            </div>
            <ul class="info">

                <li class="info_item">
                    <a href="#" class="info_link">
                        Связаться с нами
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        FAQs
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        Уход за изделиями
                    </a>
                </li>
            </ul>
        </div>
        <div class="block">
            <div class="block_title">
                Часы работы
            </div>
            <div class="time">
                10:00 - 21:00
            </div>
        </div>
    </div>
</footer>
<script src="../static/js/script.js" th:src="@{js/script.js}"></script>
</body>
</html>