<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/slick.css" th:src="@{/css/slick.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Pomaranch</title>
</head>
<body>
<div th:insert="index :: header"></div>
<div class="empty"></div>

<div class="social_side">
    <a class="social_side_link" href="https://www.facebook.com/pomaranch.ua" target="_blanck">
        <img src="../static/icons/facebook-logo.png" th:src="@{icons/facebook-logo.png}" alt="">
    </a>
    <a class="social_side_link" href="https://www.instagram.com/pomaranch_shop/" target="_blanck">
        <img src="../static/icons/instagram-logo.png" th:src="@{icons/instagram-logo.png}" alt="">
    </a>
</div>


<section class="size">
    <div class="container wrapper">
        <div class="left">
            <div class="size_slider">
                <div class="slide">
                    <div class="title">Мужской</div>
                    <div class="size_description">
                        <div class="row">
                            <div class="col label">XS/S</div>
                            <div class="col value">44</div>
                        </div>
                        <div class="row">
                            <div class="col label">S</div>
                            <div class="col value">46</div>
                        </div>
                        <div class="row">
                            <div class="col label">M</div>
                            <div class="col value">48</div>
                        </div>
                        <div class="row">
                            <div class="col label">L</div>
                            <div class="col value">50</div>
                        </div>
                        <div class="row">
                            <div class="col label">L/XL</div>
                            <div class="col value">52</div>
                        </div>
                        <div class="row">
                            <div class="col label">XL</div>
                            <div class="col value">54</div>
                        </div>
                        <div class="row">
                            <div class="col label">XXL</div>
                            <div class="col value">56 - 58</div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="title">Женский</div>
                    <div class="size_description">
                        <div class="row">
                            <div class="col label">XS/S</div>
                            <div class="col value">44</div>
                        </div>
                        <div class="row">
                            <div class="col label">S</div>
                            <div class="col value">46</div>
                        </div>
                        <div class="row">
                            <div class="col label">M</div>
                            <div class="col value">48</div>
                        </div>
                        <div class="row">
                            <div class="col label">L</div>
                            <div class="col value">50</div>
                        </div>
                        <div class="row">
                            <div class="col label">L/XL</div>
                            <div class="col value">52</div>
                        </div>
                        <div class="row">
                            <div class="col label">XL</div>
                            <div class="col value">54</div>
                        </div>
                        <div class="row">
                            <div class="col label">XXL</div>
                            <div class="col value">56 - 58</div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="title">Детский</div>
                    <div class="size_description">
                        <div class="row">
                            <div class="col label">XS/S</div>
                            <div class="col value">44</div>
                        </div>
                        <div class="row">
                            <div class="col label">S</div>
                            <div class="col value">46</div>
                        </div>
                        <div class="row">
                            <div class="col label">M</div>
                            <div class="col value">48</div>
                        </div>
                        <div class="row">
                            <div class="col label">L</div>
                            <div class="col value">50</div>
                        </div>
                        <div class="row">
                            <div class="col label">L/XL</div>
                            <div class="col value">52</div>
                        </div>
                        <div class="row">
                            <div class="col label">XL</div>
                            <div class="col value">54</div>
                        </div>
                        <div class="row">
                            <div class="col label">XXL</div>
                            <div class="col value">56 - 58</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">
            <img src="../static/img/size-guide-imgjpg.jpg" th:src="@{img/size-guide-imgjpg.jpg}" alt="">
        </div>
    </div>
</section>


<footer>
    <div class="container wrapper">
        <div class="blok">
            <div class="block_title">
                Нужна помощь?
            </div>
            <ul class="info">

                <li class="info_item">
                    <a href="#" class="info_link">
                        Связаться с нами
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        FAQs
                    </a>
                </li>
                <li class="info_item">
                    <a href="#" class="info_link">
                        Уход за изделиями
                    </a>
                </li>
            </ul>
        </div>
        <div class="block">
            <div class="block_title">
                Часы работы
            </div>
            <div class="time">
                10:00 - 21:00
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" src="../static/js/slick.min.js" th:src="@{js/slick.min.js}"></script>
<script src="../static/js/script.js" th:src="@{js/script.js}"></script>

</body>
</html>